### Title: Term Project Milestone_2
### Author: Jerock Kalala
### Date: October 26 2022
### Professor: David Kinney
### Cleaning/Formatting Flat File Source

In [107]:
import pandas as pd
import difflib

df= pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Term_Project\\owid-covid-data.csv")
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [2]:
# We can check which structure our data follows, and we can then do properly reduction and transformation to each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220567 entries, 0 to 220566
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    220567 non-null  object
 1   continent                                   207881 non-null  object
 2   location                                    220567 non-null  object
 3   date                                        220567 non-null  object
 4   total_cases                                 211608 non-null  float64
 5   new_cases                                   211311 non-null  float64
 6   new_cases_smoothed                          210115 non-null  float64
 7   total_deaths                                192500 non-null  float64
 8   new_deaths                                  192425 non-null  float64
 9   new_deaths_smoothed                         191245 non-null  float64
 10  total_cases_per_million                     210640 non-null  float64
 11  new_cases_per_million                       210343 non-null  float64
 12  new_cases_smoothed_per_million              209152 non-null  float64
 13  total_deaths_per_million                    191545 non-null  float64
 14  new_deaths_per_million                      191470 non-null  float64
 15  new_deaths_smoothed_per_million             190295 non-null  float64
 16  reproduction_rate                           166135 non-null  float64
 17  icu_patients                                28068 non-null   float64
 18  icu_patients_per_million                    28068 non-null   float64
 19  hosp_patients                               30827 non-null   float64
 20  hosp_patients_per_million                   30827 non-null   float64
 21  weekly_icu_admissions                       7130 non-null    float64
 22  weekly_icu_admissions_per_million           7130 non-null    float64
 23  weekly_hosp_admissions                      14193 non-null   float64
 24  weekly_hosp_admissions_per_million          14193 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          61755 non-null   float64
 35  people_vaccinated                           59048 non-null   float64
 36  people_fully_vaccinated                     56290 non-null   float64
 37  total_boosters                              32963 non-null   float64
 38  new_vaccinations                            50791 non-null   float64
 39  new_vaccinations_smoothed                   127242 non-null  float64
 40  total_vaccinations_per_hundred              61755 non-null   float64
 41  people_vaccinated_per_hundred               59048 non-null   float64
 42  people_fully_vaccinated_per_hundred         56290 non-null   float64
 43  total_boosters_per_hundred                  32963 non-null   float64
 44  new_vaccinations_smoothed_per_million       127242 non-null  float64
 45  new_people_vaccinated_smoothed              126664 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  126664 non-null  float64
 47  stringency_index                            166246 non-null  float64
 48  population                                  219282 non-null  float64
 49  population_density                          195877 non-null  float64
 50  median_age                                  181254 non-null  float64
 51  aged_65_older                               179339 non-null  float64
 52  aged_70_older                               180305 non-null  float64
 53  gdp_per_capita                              180596 non-null  float64
 54  extreme_poverty                             117786 non-null  float64
 55  cardiovasc_death_rate                       180774 non-null  float64
 56  diabetes_prevalence                         190035 non-null  float64
 57  female_smokers                              136942 non-null  float64
 58  male_smokers                                135067 non-null  float64
 59  handwashing_facilities                      88877 non-null   float64
 60  hospital_beds_per_thousand                  160829 non-null  float64
 61  life_expectancy                             206079 non-null  float64
 62  human_development_index                     176282 non-null  float64
 63  excess_mortality_cumulative_absolute        7460 non-null    float64
 64  excess_mortality_cumulative                 7460 non-null    float64
 65  excess_mortality                            7507 non-null    float64
 66  excess_mortality_cumulative_per_million     7460 non-null    float64
dtypes: float64(62), object(5)
memory usage: 112.7+ MB

#### 1. Let's keep few columns, and use smaller dtype

In [13]:
selected_cols = ['continent', 'location', 'date', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths'
    , 'icu_patients', 'weekly_icu_admissions', 'weekly_hosp_admissions', 'new_tests',
                 'total_tests', 'positive_rate', 'total_vaccinations', 'people_vaccinated',
                 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'population', 'life_expectancy',
                 'excess_mortality']

selected_dtypes = {
    'continent': 'object',
    'location': 'object',
    'date': 'object',
}
for col in selected_cols[3:]:
    selected_dtypes[col] = 'float32'

selected_dtypes

{'continent': 'object',
 'location': 'object',
 'date': 'object',
 'total_cases': 'float32',
 'new_cases': 'float32',
 'total_deaths': 'float32',
 'new_deaths': 'float32',
 'icu_patients': 'float32',
 'weekly_icu_admissions': 'float32',
 'weekly_hosp_admissions': 'float32',
 'new_tests': 'float32',
 'total_tests': 'float32',
 'positive_rate': 'float32',
 'total_vaccinations': 'float32',
 'people_vaccinated': 'float32',
 'people_fully_vaccinated': 'float32',
 'total_boosters': 'float32',
 'new_vaccinations': 'float32',
 'population': 'float32',
 'life_expectancy': 'float32',
 'excess_mortality': 'float32'}

In [71]:
file='https://covid.ourworldindata.org/data/owid-covid-data.csv'
df_r = pd.read_csv(file,
                    usecols=selected_cols,
                    dtype=selected_dtypes)
df_r.head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,...,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,population,excess_mortality
0,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
1,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
2,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
3,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
4,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN

#### 2. Replace headers

In [72]:
df_r.rename(columns = {'location':'Country', 'population': 'Total_population', 'continent':'Continent', 'date':'Date'}, inplace = True)
df_r.head()

,Continent,Country,Date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,...,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
0,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
1,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
2,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
3,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN
4,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.830002,40099464.0,NaN

##### 3. Let's get personal data for all countries

In [73]:
data_country={}
for country in df_r.Country.unique():
    data_country[country]=df_r[df_r.Country == country].copy()

data_country['United States']

,Continent,Country,Date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,...,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
216540,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
216541,North America,United States,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
216542,North America,United States,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
216543,North America,United States,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
216544,North America,United States,2020-01-26,5.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,-2.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217544,North America,United States,2022-10-22,97195888.0,5316.0,1067742.0,12.0,2636.0,NaN,23063.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
217545,North America,United States,2022-10-23,97203984.0,8100.0,1067743.0,1.0,2608.0,NaN,23191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
217546,North America,United States,2022-10-24,97244824.0,40839.0,1067939.0,196.0,2677.0,NaN,23302.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
217547,North America,United States,2022-10-25,97273528.0,28704.0,1068354.0,415.0,2754.0,NaN,23534.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN
217548,North America,United States,2022-10-26,97343424.0,69897.0,1069449.0,1095.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.860001,336997632.0,NaN

##### 4. Cleaning our dataset.
##### 4.1. Identify missing value or no value.

In [40]:
#false means there is value, and true means there is no value
df_r.isnull()

,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,total_tests,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
Country,,,,,,,,,,,,,,,,,,
Afghanistan,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Africa,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Albania,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Algeria,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Andorra,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
World,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Yemen,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Zambia,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Zimbabwe,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [41]:
#Let's count missing value in our data frame
print(df_r.isnull).sum()

<bound method DataFrame.isnull of                  total_cases    new_cases  total_deaths  new_deaths  \
Country
Afghanistan     1.020335e+08     202355.0  4.360715e+06      7820.0
Africa          6.016020e+09   12364637.0  1.389759e+08    256716.0
Albania         1.405036e+08     332816.0  2.000034e+06      3592.0
Algeria         1.461284e+08     270800.0  3.972340e+06      6881.0
Andorra         1.814006e+07      46449.0  1.053980e+05       157.0
...                      ...          ...           ...         ...
Western Sahara  0.000000e+00          0.0  0.000000e+00         0.0
World           2.281296e+11  626897280.0  3.511236e+09   6543190.0
Yemen           6.266904e+06      11940.0  1.223990e+06      2158.0
Zambia          1.504558e+08     333644.0  2.087436e+06      4017.0
Zimbabwe        1.052326e+08     257899.0  2.700056e+06      5606.0

                icu_patients  weekly_icu_admissions  weekly_hosp_admissions  \
Country
Afghanistan              0.0                    0.0                     0.0
Africa                   0.0                    0.0                     0.0
Albania                  0.0                    0.0                     0.0
Algeria              16563.0                    0.0                     0.0
Andorra                  0.0                    0.0                     0.0
...                      ...                    ...                     ...
Western Sahara           0.0                    0.0                     0.0
World                    0.0                    0.0                     0.0
Yemen                    0.0                    0.0                     0.0
Zambia                   0.0                    0.0                     0.0
Zimbabwe                 0.0                    0.0                     0.0

                 total_tests  new_tests  positive_rate  total_vaccinations  \
Country
Afghanistan     4.623226e+06        0.0      18.075600        3.893015e+08
Africa          0.000000e+00        0.0       0.000000        1.819659e+11
Albania         4.029439e+08  1613870.0     160.315399        3.587615e+08
Algeria         2.305530e+05        0.0       0.000000        2.983972e+08
Andorra         1.379371e+07        0.0      66.436104        4.593697e+06
...                      ...        ...            ...                 ...
Western Sahara  3.943000e+03        0.0       0.000000        0.000000e+00
World           0.000000e+00        0.0       0.000000        4.779781e+12
Yemen           6.665290e+05        0.0       0.586500        2.013002e+07
Zambia          1.228012e+09  3412336.0      58.268501        5.314958e+08
Zimbabwe        4.737699e+08  1869683.0      56.995800        3.211422e+09

                people_vaccinated  people_fully_vaccinated  total_boosters  \
Country
Afghanistan          3.386867e+08             2.967316e+08    0.000000e+00
Africa               1.137193e+11             8.304394e+10    8.010274e+09
Albania              1.788674e+08             1.511821e+08    1.364631e+07
Algeria              1.595409e+08             1.181399e+08    3.905993e+06
Andorra              2.066005e+06             1.664015e+06    6.703250e+05
...                           ...                      ...             ...
Western Sahara       0.000000e+00             0.000000e+00    0.000000e+00
World                2.246361e+12             1.869277e+12    5.843000e+11
Yemen                1.626874e+07             8.749298e+06    3.385800e+04
Zambia               4.173752e+07             3.314647e+08    8.514700e+04
Zimbabwe             1.797750e+09             1.286931e+09    1.267405e+08

                new_vaccinations  life_expectancy  Total_population  \
Country
Afghanistan         2.357200e+04     63209.250000      3.909698e+10
Africa              6.628813e+08         0.000000      1.372901e+12
Albania             1.417691e+06     76527.179688      2.780487e+09
Algeria             1.707860e+05     74881.117188      4.302934e+10
Andorra             4.802000e+03     81050.640625      7.650491e+07
...                          ...              ...               ...
Western Sahara      0.000000e+00        70.260002      5.655810e+05
World               1.284939e+10     73160.640625      7.972569e+12
Yemen               0.000000e+00     61425.484375      3.063994e+10
Zambia              2.517495e+06     60823.281250      1.853841e+10
Zimbabwe            1.080139e+07     58415.500000      1.519385e+10

                excess_mortality
Country
Afghanistan             0.000000
Africa                  0.000000
Albania               904.700012
Algeria               328.619995
Andorra               315.250000
...                          ...
Western Sahara          0.000000
World                   0.000000
Yemen                   0.000000
Zambia                  0.000000
Zimbabwe                0.000000

[248 rows x 18 columns]>

AttributeError: 'NoneType' object has no attribute 'sum'

##### 4.2. We will replace all Missing value or NaN objects with a 0.
##### NaN are due to lack of information,but not because of an error in that particular row

In [22]:
df_r.fillna(0)

,Continent,Country,Date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,...,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
0,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.830002,40099464.0,0.0
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.830002,40099464.0,0.0
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.830002,40099464.0,0.0
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.830002,40099464.0,0.0
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.830002,40099464.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230215,Africa,Zimbabwe,2022-10-21,257893.0,0.0,5606.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.490002,15993524.0,0.0
230216,Africa,Zimbabwe,2022-10-22,257893.0,0.0,5606.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.490002,15993524.0,0.0
230217,Africa,Zimbabwe,2022-10-23,257893.0,0.0,5606.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.490002,15993524.0,0.0
230218,Africa,Zimbabwe,2022-10-24,257893.0,0.0,5606.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.490002,15993524.0,0.0
230219,Africa,Zimbabwe,2022-10-25,257893.0,0.0,5606.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.490002,15993524.0,0.0

##### 4.3. We will do the data aggregation,.

In [32]:
df_agg = df_r.groupby('Country').agg('sum')
df_agg

,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,total_tests,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
Country,,,,,,,,,,,,,,,,,,
Afghanistan,1.020335e+08,202355.0,4.360715e+06,7820.0,0.0,0.0,0.0,4.623226e+06,0.0,18.075600,3.893015e+08,3.386867e+08,2.967316e+08,0.000000e+00,2.357200e+04,63209.250000,3.909698e+10,0.000000
Africa,6.016020e+09,12364637.0,1.389759e+08,256716.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,1.819659e+11,1.137193e+11,8.304394e+10,8.010274e+09,6.628813e+08,0.000000,1.372901e+12,0.000000
Albania,1.405036e+08,332816.0,2.000034e+06,3592.0,0.0,0.0,0.0,4.029439e+08,1613870.0,160.315399,3.587615e+08,1.788674e+08,1.511821e+08,1.364631e+07,1.417691e+06,76527.179688,2.780487e+09,904.700012
Algeria,1.461284e+08,270800.0,3.972340e+06,6881.0,16563.0,0.0,0.0,2.305530e+05,0.0,0.000000,2.983972e+08,1.595409e+08,1.181399e+08,3.905993e+06,1.707860e+05,74881.117188,4.302934e+10,328.619995
Andorra,1.814006e+07,46449.0,1.053980e+05,157.0,0.0,0.0,0.0,1.379371e+07,0.0,66.436104,4.593697e+06,2.066005e+06,1.664015e+06,6.703250e+05,4.802000e+03,81050.640625,7.650491e+07,315.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.0,3.943000e+03,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,70.260002,5.655810e+05,0.000000
World,2.281296e+11,626897280.0,3.511236e+09,6543190.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,4.779781e+12,2.246361e+12,1.869277e+12,5.843000e+11,1.284939e+10,73160.640625,7.972569e+12,0.000000
Yemen,6.266904e+06,11940.0,1.223990e+06,2158.0,0.0,0.0,0.0,6.665290e+05,0.0,0.586500,2.013002e+07,1.626874e+07,8.749298e+06,3.385800e+04,0.000000e+00,61425.484375,3.063994e+10,0.000000
Zambia,1.504558e+08,333644.0,2.087436e+06,4017.0,0.0,0.0,0.0,1.228012e+09,3412336.0,58.268501,5.314958e+08,4.173752e+07,3.314647e+08,8.514700e+04,2.517495e+06,60823.281250,1.853841e+10,0.000000
Zimbabwe,1.052326e+08,257899.0,2.700056e+06,5606.0,0.0,0.0,0.0,4.737699e+08,1869683.0,56.995800,3.211422e+09,1.797750e+09,1.286931e+09,1.267405e+08,1.080139e+07,58415.500000,1.519385e+10,0.000000

#####  5. Let's merge three dataframes to have some relevant views .

In [27]:
#We'll compare Mexico, North America and South America data, and replace NaN with zero

result = pd.concat([data_country['Mexico'].set_index('Date'), data_country['South America'].set_index('Date'),data_country['North America'].set_index('Date')], axis=1, join="inner").fillna(0)

result

,Continent,Country,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,total_tests,...,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-22,North America,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9201.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,596315264.0,0.0
2020-02-23,North America,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9312.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,596315264.0,0.0
2020-02-24,North America,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9523.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,596315264.0,0.0
2020-02-25,North America,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9789.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,596315264.0,0.0
2020-02-26,North America,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9993.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,596315264.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,North America,Mexico,7106018.0,453.0,330320.0,15.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.092558e+09,451634272.0,389167200.0,248416816.0,0.0,0.0,596315264.0,0.0
2022-10-22,North America,Mexico,7106018.0,0.0,330320.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.092564e+09,451634784.0,389167744.0,248417632.0,0.0,0.0,596315264.0,0.0
2022-10-23,North America,Mexico,7106865.0,847.0,330331.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.092566e+09,451634880.0,389167872.0,248417888.0,0.0,0.0,596315264.0,0.0
2022-10-24,North America,Mexico,7106865.0,0.0,330331.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.092622e+09,451660864.0,389169280.0,248446512.0,0.0,0.0,596315264.0,0.0
2022-10-25,North America,Mexico,7107987.0,1122.0,330341.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.092639e+09,451670144.0,389169408.0,248454096.0,0.0,0.0,596315264.0,0.0

##### 6. Find duplicate

In [47]:
#df.duplicated(["Continent"], keep="last")
print(df_r.duplicated())

Country
Afghanistan       False
Africa            False
Albania           False
Algeria           False
Andorra           False
                  ...
Western Sahara    False
World             False
Yemen             False
Zambia            False
Zimbabwe          False
Length: 248, dtype: bool

##### 7. Outlier Identification

##### 7.1 We will start the process of finding outliers by running the summary statistics on the variables.

In [49]:
df_r.describe()

,total_cases,new_cases,total_deaths,new_deaths,icu_patients,weekly_icu_admissions,weekly_hosp_admissions,total_tests,new_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,life_expectancy,Total_population,excess_mortality
count,2.480000e+02,248.0,2.480000e+02,2.480000e+02,2.480000e+02,2.480000e+02,2.480000e+02,2.480000e+02,248.0,248.000000,2.480000e+02,2.480000e+02,2.480000e+02,2.480000e+02,2.480000e+02,248.000000,2.480000e+02,248.000000
mean,3.895804e+09,10812089.0,5.912918e+07,1.102164e+05,9.521499e+04,1.239288e+04,3.529808e+05,6.755762e+09,20457750.0,37.969498,7.544862e+10,3.315267e+10,2.759517e+10,8.608623e+09,2.020238e+08,62813.816406,1.293187e+11,447.481964
std,1.891658e+10,53344464.0,2.835444e+08,5.281191e+05,6.484753e+05,8.273238e+04,2.649862e+06,3.150736e+10,89983968.0,45.913120,4.185581e+11,1.920248e+11,1.595995e+11,4.996776e+10,1.121391e+09,22269.277344,6.657893e+11,892.456055
min,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-200.639999
25%,7.599764e+06,19291.0,7.739175e+04,1.525000e+02,0.000000e+00,0.000000e+00,0.000000e+00,6.139750e+03,0.0,0.000000,1.777992e+07,8.845371e+06,7.101611e+06,8.406475e+04,8.010000e+02,59257.662109,5.505569e+08,0.000000
50%,9.050864e+07,211418.5,1.153645e+06,2.208500e+03,0.000000e+00,0.000000e+00,0.000000e+00,4.126010e+07,44470.5,17.485450,3.692973e+08,1.993238e+08,1.671258e+08,7.471728e+06,2.945425e+05,70433.128906,5.920725e+09,0.000000
75%,5.875686e+08,1695888.0,7.805548e+06,1.712250e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.879993e+09,5530336.5,67.971975,5.545828e+09,2.364014e+09,2.220108e+09,6.829929e+08,1.584962e+07,75915.384766,2.814869e+10,560.865021
max,2.281296e+11,626897280.0,3.511236e+09,6.543190e+06,9.479622e+06,1.028219e+06,3.939447e+07,3.447246e+11,912769152.0,274.240997,4.779781e+12,2.246361e+12,1.869277e+12,5.843000e+11,1.284939e+10,85454.023438,7.972569e+12,6144.299805

##### 7.2 Identifying Outliers with Interquartile Range (IQR).                                                                 It is represented by the formula IQR = Q3 − Q1. The lines of code below calculate and print the interquartile range for each of the variables in the dataset.

In [37]:
Q1 = df_r.quantile(0.25)
Q3 = df_r.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

total_cases                5.799688e+08
new_cases                  1.676597e+06
total_deaths               7.728157e+06
new_deaths                 1.697000e+04
icu_patients               0.000000e+00
weekly_icu_admissions      0.000000e+00
weekly_hosp_admissions     0.000000e+00
total_tests                1.879987e+09
new_tests                  5.530336e+06
positive_rate              6.797198e+01
total_vaccinations         5.528048e+09
people_vaccinated          2.355169e+09
people_fully_vaccinated    2.213006e+09
total_boosters             6.829088e+08
new_vaccinations           1.584882e+07
life_expectancy            1.665772e+04
Total_population           2.759814e+10
excess_mortality           5.608650e+02
dtype: float64

##### The above output prints the IQR scores, which can be used to detect outliers. The code below generates an output with the 'True' and 'False' values. Points where the values are 'True' represent the presence of the outlier.

In [115]:
print(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))

C:\Users\jeroc\AppData\Local\Temp\ipykernel_10608\1252664437.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  print(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))

        Total_population  aged_65_older  aged_70_older  cardiovasc_death_rate  \
0                  False          False          False                  False
1                  False          False          False                  False
2                  False          False          False                  False
3                  False          False          False                  False
4                  False          False          False                  False
...                  ...            ...            ...                    ...
220562             False          False          False                  False
220563             False          False          False                  False
220564             False          False          False                  False
220565             False          False          False                  False
220566             False          False          False                  False

        continent   date  diabetes_prevalence  excess_mortality  \
0           False  False                False             False
1           False  False                False             False
2           False  False                False             False
3           False  False                False             False
4           False  False                False             False
...           ...    ...                  ...               ...
220562      False  False                False             False
220563      False  False                False             False
220564      False  False                False             False
220565      False  False                False             False
220566      False  False                False             False

        excess_mortality_cumulative  excess_mortality_cumulative_absolute  \
0                             False                                 False
1                             False                                 False
2                             False                                 False
3                             False                                 False
4                             False                                 False
...                             ...                                   ...
220562                        False                                 False
220563                        False                                 False
220564                        False                                 False
220565                        False                                 False
220566                        False                                 False

        ...  total_deaths  total_deaths_per_million  total_tests  \
0       ...         False                     False        False
1       ...         False                     False        False
2       ...         False                     False        False
3       ...         False                     False        False
4       ...         False                     False        False
...     ...           ...                       ...          ...
220562  ...         False                     False        False
220563  ...         False                     False        False
220564  ...         False                     False        False
220565  ...         False                     False        False
220566  ...         False                     False        False

        total_tests_per_thousand  total_vaccinations  \
0                          False               False
1                          False               False
2                          False               False
3                          False               False
4                          False               False
...                          ...                 ...
220562                     False               False
220563                     False               False
220564                     False               False
220565                     False               False
220566                     False               False

        total_vaccinations_per_hundred  weekly_hosp_admissions  \
0                                False                   False
1                                False                   False
2                                False                   False
3                                False                   False
4                                False                   False
...                                ...                     ...
220562                           False                   False
220563                           False                   False
220564                           False                   False
220565                           False                   False
220566                           False                   False

        weekly_hosp_admissions_per_million  weekly_icu_admissions  \
0                                    False                  False
1                                    False                  False
2                                    False                  False
3                                    False                  False
4                                    False                  False
...                                    ...                    ...
220562                               False                  False
220563                               False                  False
220564                               False                  False
220565                               False                  False
220566                               False                  False

        weekly_icu_admissions_per_million
0                                   False
1                                   False
2                                   False
3                                   False
4                                   False
...                                   ...
220562                              False
220563                              False
220564                              False
220565                              False
220566                              False

[220567 rows x 68 columns]

C:\Users\jeroc\AppData\Local\Temp\ipykernel_10608\1252664437.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  print(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))

TypeError: Cannot perform 'ror_' with a dtyped [bool] array and scalar of type [NoneType]

In [44]:
#It looks like there is not out

##### Fuzzy matching to correct incosistent data entry

In [116]:
df2= pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Term_Project\\WHO_first9cols.csv")
df1=df_r.iloc[:202] # select a subset of the dataframe to match the number of rows

In [110]:
#create duplicate column to retain team name from df2
df2['Country_match'] = df2['Country']

#convert team name in df2 to team name it most closely matches in df1
df2['Country'] = df2['Country'].apply(lambda x: difflib.get_close_matches(x, df1['Country'])[0])

#merge the DataFrames into one
df3 = df1.merge(df2)

#view final DataFrame
print(df3)

IndexError: list index out of range